.star-rating {
    font-size: 30px;
  }
  
  .star {
    cursor: pointer;
  }
  
  .star:hover,
  .star.active {
    color: gold;
  }

  /* Search Bar */

  .search-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #searchInput {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
  }
  
  #searchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #searchButton:hover {
    background-color: #0056b3;
  }

  /* Percentage Bar*/
  .container {
    margin-top: 100px;
    width: 300px; /* Or any desired width */
    height: 20px; /* Or any desired height */
    background-color: lightgray;
    display: flex;
  }
  
  .bar {
    background-color: blue;
    height: 100%;
  }

    /* Like Button */

  #likeButton {
    margin-left: 10px;
    width: 50px;
  }


  .like-button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .like-icon {
    margin-right: 5px;
  }
  
  .like-count {
    margin-left: 5px;
  }